.heroContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  background: gray;
}

.heroContainer h1 {
  font-size: var(--logo-fontSize);
  font-family: var(--primary-font);
  align-self: flex-start;
}
