* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  /* width: 90%; */
  margin: auto 20px;
}

:root {
  --white-color: white;
  --black-color: black;
  --primary-color: #0f71f2;
  --gray-color: #666f7a;

  --primary-font: "Dosis", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --logo-fontSize: 36px;
  --font-size-h1: 44px;
  --font-size-h2: 28px;
  --font-size-text: 24px;
  --font-size-menu: 16px;
  --font-size-slogan: 60px;

  --font-weight-h1: 800;
  --font-weight-h2: 600;
  --font-weight-text: 400;
  --font-weight-menu: 800;
  --font-weight-slogan: 400;
}
